<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<jsp-file>/views/signUp.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<jsp-file>/views/home.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ProfilePage</servlet-name>
		<jsp-file>/views/profile.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>RegisterPage</servlet-name>
		<jsp-file>/views/register.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>signUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfilePage</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterPage</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/views/signUp.html</welcome-file>
	</welcome-file-list>
</web-app>