<!DOCTYPE html>
<html>
<head>
	<title>Sign Up page</title>
</head>

<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
<body>
<h1>SignIn to get started</h1>
<form method = "post" action="signUp">
	<div class="form-group">
		<label for="Username"><b>Username</b></label>
		<input type="text" name="username" placeholder="Enter Entername" class="form-control" required>
		<label><b>Password</b></label>
		<input type="password" name="password" placeholder="Enter password" class="form-control" required> <br >
		<input class="btn btn-primary btn-lg" role="button" type="submit" > 
		<button type="button" class="btn btn-danger btn-lg">Reset</button>
		<a href="register">Not Registered yet?</a>
        
	</div>
</form>
</body>
</html>

